* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Armenia";
  src: url(./font/BraindAmanor.otf);
}
@font-face {
  font-family: "Armenia2";
  src: url(./font/ArTarumianBarakU-Regular.ttf);
}
@font-face {
  font-family: "Armenia3";
  src: url(./font/ArmeniapediaJhapaven.ttf);
}
body {
  font-family: "Armenia";
  color: #fff;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.208), rgba(0, 0, 0, 0.559)),
    url("./images/baby.jpg");
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 0 30px;
}
.header {
  padding: 50px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #fff;
  text-align: center;
  font-size: clamp(1rem, 10vw, 6rem);
}

.angels {
  display: flex;
  gap: 20px;
}

.angel-left,
.angel-right {
  width: 150px;
  height: 150px;
}
.angel-left img,
.angel-right img {
  width: 100%;
  height: 100%;
}
.name {
  color: #fff;
  font-size: clamp(2rem, 5vw, 2.5rem);
}

section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 100px;

}
.text {
  font-family: "Armenia2";
  text-align: center;
  font-size: clamp(2rem, 5vw, 2rem);
}

.date {
  font-size: clamp(2rem, 5vw, 3rem);
}
.date h3 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}
.date .day {
  font-size: clamp(2rem, 5vw, 5rem);
}

.place{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  font-size: clamp(2rem, 5vw, 2rem);

}
.place .time {
    font-size: clamp(2rem, 5vw, 5rem);

}
.place .place-img {
    width: 150px;
    height: 150px;
}
.place .place-img img {
    width: 100%;
    height: 100%;
}
.how-to-reach {
    background: none;
    padding: 12px 24px;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
    border:  2px solid #e9e9e9;

}